nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 0.7rem 1rem;
    box-sizing: border-box;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}